/* Navigation bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#AC0900;
    text-align: center;
}

nav ul li  a {display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

nav ul li {
    display: inline-block;
    width: 100px;
    
}

nav{
    border: 2px solid #000000;
    border-radius: 15px;
}
/*Log in Page*/
div#errormessage{
    background:#fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px
}

body#Login {
    background: url(../Images/joey-banks-YApiWyp0lqo-unsplash.jpg)  no-repeat fixed;
    background-position: center;
    background-size: cover;
    font-family: helvetica;
}

div.LogInHeader{
    text-align: center;
    margin-bottom: 150px;
}


div.LogInHeader h1{
    font-size: 55px;
    font-weight: bold;
    color: #181A1B;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

div.LogInHeader p{
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;

}

div.LogInHeader p::after{
    content: '';
    display: block;
    height: 5px;
    background: #181A1B;
    margin: 0 auto;
}

div.LogInBody form{
    margin: 0 auto;
    width: 450px;
    border: 2px solid #fff;
    background:rgba(0, 0, 0, 0.5);
    padding:50px;
    border-radius:8px ;
}

div.LogInInputContainer{
    margin-top: 20px;
}

div.LogInInputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.LogInInputContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.LogInButtonContainer{
    margin-top: 40px;
    text-align: center;

}

div.LogInButtonContainer button{
    font-size: 30px;
    padding: 10px 40px;
    background: #AC0900;
    border: none;
    color:white
}
/*Homepage*/
body#Home{
    height: fit-content;
    font-family: helvetica;
    background-color: #181A1B;
}
div.header{
    width: 100%;
    height: 20px;
}

div.banner{
    background: url(../Images/ivana-cajina-WPVtT0MEM00-unsplash.jpg)  no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.homepagecontainer{
    width: 100%;
    max-width: 900px;
    height: 50vh;
    margin: 0 auto;
}

div.bannerheader h1{
    font-size: 100px;
    color: white;
    line-height: 100%;
}

div.bannerheader p{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-top: -10px;
    line-height: 100%;

}
p.bannertagline{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

div.homepagefeatures{
    padding-top: 35px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.homepagefeature{
    padding: 10px 20px;
    text-align: center;
}

div.homepagefeature span.featureIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background:#181A1B;
    color: #AC0900;
    padding-top: 25px;
    border-radius: 50%;
    margin-bottom: 25px;
}

div.homepagefeature h3.featureicon{
    margin-bottom:20px ;
}

div.homepagefeature p.featuredescription{
    color: #AC0900;

}

div.homepagefeature h3.featuredescription{
    color: #AC0900;
}

div.homepagefeature p.description{
    color: white;
}
.box-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    outline: blue dashed 1px;
}

.box {
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: red dashed 1px;
}

p.Make{

}

p.Model{
    
}
/*Dashboard*/
body#Dashboard{
    margin: 0;
    padding: 0;
}
#Dashboard_Main_Container{
    display: flex;
    flex-direction: row;
}

div.dashboard_sidebar{
    width: 20%;
    background: #181A1B;
    height: 100vh;
}

div.dashboard_content_container{
    width: 80%;
    background: white;
}

h3.dashboard_logo{
    color: #AC0900;
    font-size: 80px;
    text-align: center;
}

div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

div.dashboard_sidebar_user img{
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #AC0900;
    margin-right: 5px;
    vertical-align: middle;
}

div.dashboard_sidebar_user span{
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
ul.dashboard_lists {
    margin-top: 20px;
    padding: 0px;
    list-style-type: none;
}
ul.dashboard_lists li{
    padding: 15px 15px;
    text-transform: uppercase;
}

ul.dashboard_lists li a{
    text-decoration: none;
    color: white;
    height: 100%;
    display: block;
    font-size: 20px;
}
ul.dashboard_lists li a i{
    font-size: 25px;
    padding-left: 10px;
}

ul.dashboard_lists li.menuactive{
    background-color: #AC0900;
    color: white
}

ul.dashboard_lists li:hover{
    background: #AC0900;
    color: white;
    transition: 0.3 all;
}

div.dashboard-content_topnav{
    background: #AC0900;
    padding: 20px;
}

div.dashboard-content_topnav a{
    color: #181A1B;
    font-size: 18px;
    text-decoration: underline;
}

a#LogOutButton{
    float: right;
}

div.dashboard_content{
    padding: 50px 10px 10px 10px;
}

div.dashboard_content_main{
    background: #181A1B;
    min-height: 800px;
    height: 100%;
}

div.dashboard_content_main{
    font-size: 25px;
    text-align: center;
    line-height: 1000%;
    color: #fff;
}

/*About Us*/
body#AboutUs{
    height: fit-content;
    font-family: helvetica;
    background-color: #181A1B;
}

p.Info{
    padding-top: 15px;
    color: #fffefe;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.Logo{
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.Description{
    padding-top: 25px;
    color: #fffefe;
    justify-content: center;
    text-align: center;
}