/* Navigation bar*/
nav ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;}

nav ul li  a {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

nav ul li {
    display: inline-block;
    width: 100px;
    
}

nav{
    border: 2px solid #000000;
    border-radius: 5px;
}
/*Log in Page*/
body#Login {
    background: url(../Images/joey-banks-YApiWyp0lqo-unsplash.jpg)  no-repeat fixed;
    background-position: center;
    background-size: cover;
    font-family: helvetica;
}

div.LogInHeader{
    text-align: center;
    margin-bottom: 150px;
}


div.LogInHeader h1{
    font-size: 100px;
    font-weight: bold;
    color: black;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

div.LogInHeader p{
    font-size: 50px;
    color: rgba(0, 0, 0);
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;

}

div.LogInHeader p::after{
    content: '';
    display: block;
    height: 5px;
    background: black;
    margin: 0 auto;
}

div.LogInBody form{
    margin: 0 auto;
    width: 450px;
    border: 2px solid #fff;
    background:rgba(0, 0, 0, 0.5);
    padding:50px;
    border-radius:8px ;
}

div.LogInInputContainer{
    margin-top: 20px;
}

div.LogInInputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.LogInInputContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.LogInButtonContainer{
    margin-top: 40px;
    text-align: center;

}

div.LogInButtonContainer button{
    font-size: 30px;
    padding: 10px 40px;
    background: gray;
    border: none;
    color:white
}
/*Homepage*/
body#Home{
    font-family: helvetica;
    background-color: white;
}
div.header{
    width: 100%;
    height: 20px;
}

div.banner{
    background: url(../Images/ivana-cajina-WPVtT0MEM00-unsplash.jpg)  no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.homepagecontainer{
    width: 100%;
    max-width: 900px;
    height: 50vh;
    margin: 0 auto;
}

div.bannerheader h1{
    font-size: 100px;
    color: black;
    line-height: 100%;
}

div.bannerheader p{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    margin-top: -10px;
    line-height: 100%;

}
p.bannertagline{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

div.homepagefeatures{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

div.homepagefeature{
    padding: 10px 20px;
    text-align: center;
}

div.homepagefeature span.featureIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background: gray;
    color: black;
    padding-top: 25px;
    border-radius: 50%;
    margin-bottom: 25px;
}

div.homepagefeature h3.featureicon{
    margin-bottom:20px ;
}

div.homepagefeature p.featuredescription{
    color: gray;

}
/*Dashboard*/
body#Dashboard{
    margin: 0;
    padding: 0;
}
#Dashboard_Main_Container{
    display: flex;
    flex-direction: row;
}

div.dashboard_sidebar{
    width: 20%;
    background: black;
    height: 100vh;
}

div.dashboard_content_container{
    width: 80%;
    background: white;
}

h3.dashboard_logo{
    color: gray;
    font-size: 80px;
    text-align: center;
}

div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

div.dashboard_sidebar_user img{
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid gray;
    margin-right: 5px;
    vertical-align: middle;
}

div.dashboard_sidebar_user span{
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
ul.dashboard_lists {
    margin-top: 20px;
    padding: 0px;
    list-style-type: none;
}
ul.dashboard_lists li{
    padding: 15px 15px;
    text-transform: uppercase;
}

ul.dashboard_lists li a{
    text-decoration: none;
    color: white;
    height: 100%;
    display: block;
    font-size: 20px;
}
ul.dashboard_lists li a i{
    font-size: 25px;
}

ul.dashboard_lists li.menuactive{
    background-color: gray;
    color: white
}

ul.dashboard_lists li:hover{
    background: gray;
    color: white;
    transition: 0.3 all;
}

div.dashboard-content_topnav{
    background: gray;
    padding: 20px;
}

div.dashboard-content_topnav a{
    color: black;;
    font-size: 18px;
    text-decoration: underline;
}

a#LogOutButton{
    float: right;
}

div.dashboard_content{
    padding: 50px 10px 10px 10px;
}

div.dashboard_content_main{
    background:silver;
    min-height: 800px;
    height: 100%;
}

div.dashboard_content_main{
    font-size: 25px;
    text-align: center;
    line-height: 1000%;
}